@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Manrope:wght@200;300;400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Manrope:wght@200;300;400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 402vh;
    font-family: Oswald;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.wrapper-1 {
    background-image: url('photo/background.png');
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
}

.navbar-1 {
    display: flex;
    height: 15%;
    width: 100%;
   justify-content: flex-start;

}



#logo {
   margin-left: -30px;
    
}

#logo:hover {
  opacity: 60%;
}



#donate-btn {
    width: 79px;
    height: 35px;
    margin-top: 44px;
    margin-right: 10%;
    background: #F4A673;
    border-radius: 8px;
    border: none;
    font-family: Oswald;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 28px;
    text-align: center;
    
    color: #FFFFFF;
  border: 1px solid transparent;
  -webkit-border-radius: 3px;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#donate-btn:hover {
  background-color: transparent;
  color: #ffffff;
  border-color: #ffffff;

    box-shadow: -1px 6px 10px 0 rgba(0, 0, 0, 0.2);
}



#toggle {
    display: none;
    
  }
  
  /**
    Hamburger
  **/
  .hamburger {
    position: absolute;
    top: 5em;
    right: 5%;
    margin-left: -2em;
    margin-top: -45px;
    width: 2em;
    height: 45px;
    z-index: 5;
  }
  
  .hamburger div {
    position: relative;
    width: 3em;
    height: 7px;
    border-radius: 3px;
    background-color: #ffffff;
    margin-top: 8px;
    transition: all 0.3s ease-in-out;
  }
  
  /**
  Nav Styles
  **/
  .nav {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #F4A673;
    background-image: linear-gradient(315deg, #F4A673 0%, #fc9c5d 74%);
    top: -100%; left: 0; right: 0; bottom: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    transform: scale(0);
  }
  .nav-wrapper {
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
  }
  .nav2 {
    text-align: left;
    margin-left: 25%;
  }
  .nav2 a {
    position: relative;
    text-decoration: none;
    color: #ffffff;
    font-size: 2em;
    display: inline-block;
    margin-top: 1.25em;
    transition: color 0.2s ease-in-out;
    letter-spacing: 1px;
  }
  .nav2 a:before {
    content: '';
    height: 0;
    position: absolute;
    width: 0.25em;
    background-color: rgb(0, 0, 0);
    left: -0.5em;
    transition: all 0.2s ease-in-out;
  }
  .nav2 a:hover {
    color: rgb(0, 0, 0);
  }
  .nav2 a:hover:before {
    height: 100%;
  }
  
  /**
  Animations
  **/
  #toggle:checked + .hamburger .top-bun {
    transform: rotate(-45deg);
    margin-top: 25px;
  }
  #toggle:checked + .hamburger .bottom-bun {
    opacity: 0;
    transform: rotate(45deg);
  }
  #toggle:checked + .hamburger .meat {
    transform: rotate(45deg);
    margin-top: -7px;
  }
  
  #toggle:checked + .hamburger + .nav {
    top: 0;
    transform: scale(1);
  }

@media screen and (max-width: 352px) {
    #donate-btn {
        display: none;
    }
  }

#title {
    font-family: Oswald;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 74px;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



#description-1 {
    font-family: Oswald;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 50px;
text-align: center;

color: #FFFFFF;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#petition {
    font-family: Oswald;
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 28px;
  text-align: center;

  color: #FFFFFF;
  width: 173px;
  height: 42px;

  background: #F4A673;
  

  margin: 0 auto;
  
 
  display: block;

  border: 1px solid transparent;
  
  
  
  border-radius: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#wrapper-btn {
    width:100%;
  display: flex;
  justify-content: center;
}

#petition:hover {
  background-color: transparent;
  color: #ffffff;
  border-color: #ffffff;

    box-shadow: -1px 6px 10px 0 rgba(0, 0, 0, 0.2);
}

.scroll-down {
	position: absolute;
	left: 50%;
	bottom: 20px;
	display: block;
	text-align: center;
	font-size: 20px;
	z-index: 100;
	text-decoration: none;
	text-shadow: 0;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  z-index: 9;
  left: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
	-webkit-animation: fade_move_down 4s ease-in-out infinite;
	-moz-animation:    fade_move_down 4s ease-in-out infinite;
	animation:         fade_move_down 4s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}

/*------------Fin première page------------*/

.wrapper-2 {
    position: absolute;
    width: 100%;
    height: 100vh;
    
    background-color: #F4A673;
background-image: linear-gradient(315deg, #F4A673 0%, #fc9c5d 74%);

}

#title-2 {
    left: 18px;
    top: 24px;
    
    font-family: Oswald;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
    color: #FFFFFF;
}

#description-2 {
    left: 18px;
    top: 126px;

font-family: Oswald;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 33px;
text-align: center;
color: #FFFFFF;
}

.wrapper-btn-2 {
    display: flex;
    width: 100%;
    justify-content: center;
    
}

.wrapper-btn-2 button {
    width: 161px;
    height: 63px;
    left: 211px;
    top: 294px;
    background: transparent;
    border-radius: 8px;
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    border: 3px solid white;
    color: #ffffff;
    margin: 20px;
    
  
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.wrapper-btn-2 button:hover {
background-color: transparent;
  color: #000000;
  border-color: #000000;

    box-shadow: -1px 6px 10px 0 rgba(0, 0, 0, 0.2);
}

.grid-wrapper-2 {  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 142px 142px 142px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "don"
      "événements"
      "actualités";
    width: 97%;
    
    
  }
  
  .don { 
      grid-area: don; 
      background-image: url('photo/photo1.png');
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px;
  font-family: Oswald;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 33px;
text-align: center;
color: #FFFFFF;
    }
  
  .événements { 
      grid-area: événements; 
      background-image: url('photo/photo2.png');
   background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px;
  font-family: Oswald;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 33px;
text-align: center;
color: #FFFFFF;
    }
  
  .actualités { 
      grid-area: actualités;
      background-image: url('photo/photo3.png');
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px;
  font-family: Oswald;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 33px;
text-align: center;
color: #FFFFFF;

     }

.wrap-wrapper {
    display: flex;
    justify-content: center;
    
}
  

#arrow {
  width: 40px;
  height: 30px;
}


.événements:hover {
  opacity: 85%;
}

.actualités:hover {
  opacity: 85%;
  
}


.don:hover {
  opacity: 85%;

}

/*---------------------Fin deuxième page-----------*/


.wrapper-3 {
  margin-top: 100vh;
  width: 100%;
  height: 107vh;
  background: white;
  

}


article {
  width: 80%;
  height: 420px;
  background: #ffffff;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
margin: 10px;

}

#article-1-photo {
  width: 100%;
  height: 218px;
  object-fit: cover;
}

#article-2-photo {
  width: 100%;
  height: 218px;
  object-fit: cover;
}

article h1 {
  left: 51px;
top: 245px;
text-align: center;
font-family: Manrope;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 27px;

color: #000000;

mix-blend-mode: normal;
}

article h3 {
  left: 51px;
  top: 279px;
  
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  
  color: #000000;
  text-align: center;
  opacity: 0.8;
}

.wrapper-article-1 {
  display: flex;
  align-items: center;
  justify-content: center;

}

.wrapper-article-2 {
  display: flex;
  align-items: center;
    justify-content: center
}

#btn-article {
  width: 100px;
height: 25px;
left: 52px;
top: 383px;
margin-left: 10%;
background: #F4A673;


font-family: Oswald;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 22px;
border: none;
color: #FFFFFF;
}

/*-----------Fin troisième page--------*/


.wrapper-4 {
  width: 100%;
  height: 75vh;
  background-image: url('photo/background-4.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}





#line {
  position: absolute;
  width: 65.07px;
  
  margin-top: -15%;
}

.wrapper-white-events {
  
  width: 90%;
  height: 650px;
  margin-top: 20px;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  font-family: Oswald;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 59px;
  align-items: center;
  align-content: center;
  color: #ffffff;
  
}

.center {
  display: flex;
  justify-content: center;
}

.wrapper-events {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 160px 160px 160px;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "event1"
    "event2"
    "event3";
    width: 90%;
 
}

.event1:hover {
  opacity: 70%;
}

.event3:hover {
  opacity: 70%;
}

.event2:hover {
  opacity: 70%;
}


.event1 { 
  grid-area: event1;
  background-image: url('photo/event1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px;
  
 }

.event2 {
   grid-area: event2;
   background-image: url('photo/event2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px;
   }

.event3 {
   grid-area: event3;
   background-image: url('photo/event3.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px;
   }


.center-events {
  display: flex;
  justify-content: center;
}

.wrapper-events h1 {
  font-family: Oswald;
font-style: normal;
font-weight: bold;
text-align: center;

line-height: 44px;

color: #FFFFFF;
}

.wrapper-events img {
  width: 38px;
  height: 28px;
}

/*------------Fin quatrième page accueil------------*/

footer {
  margin-top: 75vh;
  height: 190px;
  width: 100%;
  background: black;
  position: absolute;
}

.wrapper-ahref {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "don actualités"
    "événements pétition"; 
    width: 200px;
}

#don { grid-area: don; }
#actualités { grid-area: actualités; }
#événements { grid-area: événements; }
#pétition { grid-area: pétition; }

#don:hover{
  color: #F4A673;
}

#actualités:hover{
  color: #F4A673;
}

#événements:hover{
  color: #F4A673;
}

#pétition:hover{
  color: #F4A673;
}

#logo2:hover{
  opacity: 70%;
}


.wrapper-ahref a {
  left: 170px;
  top: 720px;
  text-decoration: none;
  font-family: Oswald;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  /* identical to box height */
  color: #FFFFFF;
}



footer h3 {
  left: 31px;
  top: 825px;

  font-family: Oswald;
  font-style: normal;
  font-weight: bold;
  font-size: 8px;
  line-height: 7px;
  margin-left: 30px;
  color: #FFFFFF;
}

.footer {
  display: flex;
  justify-content: space-around;
  margin-top: 5vh;
  margin-left: -3%;
}

#logo2 {
  margin-top: -10px;
  margin-right: 2%;
}

@media screen and (min-width: 864px) {
  #title {
    font-size: calc(50px + 30px);
  }

  #description-1 {
    font-size: 30px;
    
  }

  #petition {
    width: calc(173px + 30px);
height: calc(42px + 30px);
  }
}







@media screen and (min-width: 486px) {
  article h3{
    
    line-height: 25px;
  }

  #title-2 {
    font-size: 50px;
  }

  #description-2 {
    font-size: 30px;
  }

  .wrapper-3 h1 {
    font-size: 35px;
  }

  .wrapper-3 h3 {
    font-size: 15px;
}
}